[submodule "backend"]
	path = backend
	url = https://github.com/leminhthe04/fpt-nodejs-01-nestjs-microservice-app.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/leminhthe04/fpt-nodejs-01-nestjs-microservice-app-frontend.git
